html { font-size: 16px; }
body { padding: 1rem; }


/*******************************
TYPE BUTTONS
This is all the code associated with the upper section of the screen, the clickable type buttons
*******************************/
#normal {
    background-color: #a4acaf;
}
#fire {
    background-color: #fd7d24;
}
#water {
    background-color: #4592c4;
}
#grass {
    background-color: #9bcc50;
}
#electric {
    background-color: #eed535;
}
#ice {
    background-color: #51c4e7;
}
#fighting {
    background-color: #d56723;
}
#poison {
    background-color: #b97fc9;
}
#ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}
#flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
#psychic {
    background-color: #f366b9;
}
#bug {
    background-color: #729f3f;
}
#rock {
    background-color: #a38c21;
}
#ghost {
    background-color: #7b62a3;
}
#dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
#dark {
    background-color: #707070;
}
#steel {
    background-color: #9eb7b8;
}
#fairy {
    background-color: #fdb9e9;
}


.typeButton {
    background-color:aqua;
    color: white;
    padding: 1rem;
    height: 1em;
    border-radius:10px;
    font-family:"Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
    text-shadow:1px 1px 2px rgba(0,0,0,0.7);
    text-align:center;
}

.typeButtons {
    max-width:1000px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

.clicked {
    height: .6em; 
    border: .2em solid greenyellow;
    vertical-align: middle;
}
.errorBorder {
    height: .6em; 
    border: .2em solid red;
}
.fourTimes {
    background-color: lawngreen;
    font-weight: bold;
}
.twoTimes {
    background-color: lightgreen;
}
.oneTimes {
    background-color: lightgray;
}
.halfTimes {
    background-color: yellow;
}
.quarterTimes {
    background-color: orangered;
}
.zeroTimes {
    background-color: black;
    color: white;
}

#type1 {
    float: left;
    width: 50%;
}

#type1Head {
    height: 1em;
    background-color: lightgreen;
    border-bottom: 5px;
}
#type2Head {
    height: 1em;
    background-color: lightcoral;
}

#type2 {
    float: left;
    width: 50%;
}

#typeChart {
    margin-top: 30px;
}
/*
@media (min-width: 600px) {
  .typeButtons { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .typeButtons { grid-template-columns: repeat(6, 1fr); }
}*/